@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}
/* --------- HEADER -------- */
header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 50px;
    font-size: 42px;
}
header > h1{
    font-style: italic;
    font-weight: bolder;
}
header > p{
    font-size: 16px;
}
/* -------------- */


/* TRABALHANDO SECTIONS */

section{
    font-family: cursive;
    font-size: 48px;
    font-style: italic;
    position: relative;
    bor
}
section > p{
    margin: 50px;
}

.image-1{
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    width: 2048px;
    height: 600px;
    background-attachment: fixed;
    background-size: cover;

}
.image-1 > p{
    width: 640px;
    padding: 50px;
    background-color: hwb(0 0% 100% / 0.350);
    color: white;
    position: relative;
    top: 25px;
    left: 25px;
    border-radius: 10px;
}

.image-2{
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    width: 2048px;
    height: 600px;
    background-attachment: fixed;
    background-size: cover;

}

.image-2 > p{
    width: 640px;
    padding: 50px;
    background-color: hwb(0 0% 100% / 0.350);
    color: white;
    position: relative;
    top: 25px;
    left: 25px;
    border-radius: 10px;
}

/* ---------------- */

/* FOOTER */
footer{
    background: black;
    font-size: 32px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding: 25px;

}
footer > p > a{
    text-decoration: none;
}