@charset "UTF-8";

/* IMPORTAÇÕES DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --font-destaque: 'Oswald', sans-serif;
    --fonte-conteudo:'Edu TAS Beginner', cursive;
    --fonte-padrao:Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body{
    min-height: 100vh;
    background: darkgray;
    font-family: var(--fonte-padrao);
}

/* CONFIGS GLOBAIS A CIMA. */



/* HEADER */

header{
    background-color: black;
    text-align: center;
    color: white;
    font-family: var(--font-destaque);
    
}
header h1{
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 6vw;
}
header p{
    padding-bottom: 50px;
    font-weight: normal;
}

/* Tags <a> no projeto ou seja os links */

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    color: blue;
}

/* FOOTER */

footer{
    background: black;
    padding: 10px;
    color: white;
    text-align: center;
}

/* TRABALHANDO AS SECTIONS */

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background: rgba(51, 51, 51);
    color: white;
}
section.imagem > P{
    background-color: rgba(0, 0, 0, 0.526) ;
    display: inline-block;
    padding: 10px;
    text-shadow: 2px 1px 0px black;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh ;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-conteudo);
    font-weight: bolder;
    font-size: 3.2vw;
}
section > p{
    padding-bottom: 2em;
}

/* TRABALHANDO BACKGROUNDS */
section.imagem{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px  6px  13px  0px rgba(0, 0, 0, 0.578);
}
section.imagem#imagem-2{
    background-image: url('../imagens/background002.jpg');
    background-position: left center;
}

/* DESAFIO TERMINADO. */